Repository astaykov/openhack-devops-team: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:

# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
    - feature-*
  paths:
    include:
    - apis/userprofile/*

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: buildandtests
  displayName: Build and Test
  jobs: 
  - job: buildandtestj
    displayName: Build and Test
    steps:
    - task: DotNetCoreCLI@2
      inputs:
        command: 'restore'
        projects: '**/poi.csproj'
        feedsToUse: 'select'
    - task: DotNetCoreCLI@2
      inputs:
        command: 'build'
        projects: '**/poi.csproj'
        arguments: '--configuration $(BuildConfiguration)'
    - task: DotNetCoreCLI@2
      inputs:
        command: 'test'
        projects: '**/*[Tt]ests/unittests.csproj'
        arguments: '--configuration $(BuildConfiguration)'
    - task: DotNetCoreCLI@2
      inputs:
        command: 'pack'
        packagesToPack: '**/poi.csproj;!**/*[Tt]ests/UnitTests.csproj'
        versioningScheme: 'off'

  - job: createitem
    displayName: Create Item
    dependsOn: buildandtestj
    condition: failed() # this job will only run if rununittest fails
    steps:
      - task: CreateWorkItem@1
        inputs:
          workItemType: 'Issue'
          title: 'Userprofile Build failure for commit $(Build.SourceVersion)'
          associate: true
          description: 'This is automated work for failing build. Latest commit message: $(Build.SourceVersionMessage)'

azure-pipelines.yml:

# Go
# Build your Go project.
# Add steps that test, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/go
 
trigger:
  branches:
    include:
    - feature-*
  paths:
    include:
    - apis/trips/*
 
pool:
  vmImage: 'ubuntu-latest'
 
stages:

- stage: buildandtests
  displayName: Build and Test
  jobs: 
  - job: buildandtestj
    displayName: Build and Test
    steps:
    - task: GoTool@0
      inputs:
        version: '1.13.5'
    - task: Go@0
      inputs:
        command: 'get'
        arguments: '-d'
        workingDirectory: '$(System.DefaultWorkingDirectory)/apis/trips'
    - task: Go@0
      inputs:
        command: 'build'
        workingDirectory: '$(System.DefaultWorkingDirectory)/apis/trips'
    - task: Go@0
      inputs:
        command: 'test'
        arguments: '-v'
        workingDirectory: '$(System.DefaultWorkingDirectory)/apis/trips/tests'
      
    - task: CopyFiles@2
      inputs:
        TargetFolder: '$(Build.ArtifactStagingDirectory)/apis/trips'
    - task: PublishBuildArtifacts@1
      inputs:
        artifactName: drop

  - job: createitem
    displayName: Create Item
    dependsOn: buildandtestj
    condition: failed() # this job will only run if rununittest fails
    steps:
      - task: CreateWorkItem@1
        inputs:
          workItemType: 'Issue'
          title: 'Build failure for commit $(Build.SourceVersion)'
          associate: true
          description: 'This is automated work for failing build. Latest commit message: $(Build.SourceVersionMessage)'

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

non breaking change on master /user-java
  apis/user-java/src/main/java/io/swagger/api/ApiException.java
Due: none

this change will break tests.
  apis/user-java/src/main/java/io/swagger/api/ApiException.java
  apis/user-java/src/test/java/UserApiControllerTest.java
Due: none

fix all should have deployment
  apis/user-java/src/test/java/UserApiControllerTest.java
Due: none

changing readme
  CHANGELOG.md
Due: none

single blank line ....
  apis/user-java/src/main/java/io/swagger/api/ApiException.java
Due: none

small change
  apis/trips/README.md
Due: azure-pipelines.yml

Update README.md
  apis/poi/README.md
Due: none

changing golang version to 1.13 for the container
  apis/trips/Dockerfile
Due: azure-pipelines.yml

Update README.md
  apis/userprofile/README.md
Due: azure-pipelines-1.yml

inlcuing polling script
  Utils/Polling.ps1
Due: none

changing readm
  apis/user-java/README.md
Due: none

update polling powershell
  Utils/Polling.ps1
Due: none

full ci/cd pipeline for User-Java
  apis/user-java/README.md
Due: none

pushing not healthy container
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
Due: none

fix
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

small change
  apis/trips/tests/healthroute_test.go
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApiController.java
Due: azure-pipelines.yml

small change
  apis/trips/tripsgo/healthCheckService.go
Due: azure-pipelines.yml

small change
  apis/trips/tests/healthroute_test.go
Due: azure-pipelines.yml

braking health
  apis/trips/tripsgo/healthCheckService.go
Due: azure-pipelines.yml

buah
  apis/trips/tripsgo/healthCheckService.go
Due: azure-pipelines.yml
